.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  border-bottom: 1px solid #252832;
}

.logo {
  font-weight: 700;
  font-size: 1.2rem;
}

.navigation {
  display: flex;
  gap: 1.5rem;
}

.navigation a:hover {
  opacity: 0.7;
}

@media (max-width: 600px) {
  .navbar {
    padding: 1rem;
  }

  .navigation {
    gap: 1rem;
  }
}