<section class="home">
  <div class="hero">
    <p class="eyebrow">MOVIE EXPLORER</p>

    <h1>Descubre tu próxima película.</h1>

    <p class="description">
      Explora películas populares, descubre nuevas historias
      y encuentra algo que ver.
    </p>

    <a routerLink="/search" class="cta">
      Explorar películas
    </a>
  </div>
</section>


<div class="home-content">

  @if (loading) {

    <div class="status-message">
      <p>Cargando películas...</p>
    </div>

  } @else if (errorMessage) {

    <div class="status-message">

      <p>{{ errorMessage }}</p>

      <button
        type="button"
        (click)="loadHomeMovies()">
        Reintentar
      </button>

    </div>

  } @else {

    <app-movie-section
      title="Tendencias"
      [movies]="trendingMovies">
    </app-movie-section>

    <app-movie-section
      title="Películas populares"
      [movies]="popularMovies">
    </app-movie-section>

    <app-movie-section
      title="Próximamente"
      [movies]="upcomingMovies">
    </app-movie-section>

  }

</div>